body {
	margin: 0;
	padding: 0;
	color: #333;
}

/* Header */
#header {
	width: 89.67%;
	margin: 0 auto;
	padding: 8vh 0 0 0;
	text-transform: uppercase;
	height:17vh;
}
#branding {
	float: left;
}
#branding:hover {
	cursor: pointer;
}
#navigation {
	float: right;
}
#navigation a{
	color: #333;
	text-decoration: none;
	margin: 0 0 0 2vw;
}

/* Content */
#main_content {	
	width: 95%;
	margin: 0 auto;
}

/* Index */
.grid_item {
	margin: 0 2.665% 5% 2.665%;
	width: 28%;
	height:auto;
}
.grid_item:hover {
	cursor: pointer;
}
.grid_item img{
	width:100%;
}
.grid_item p{
	text-align: center;
}

/* Project */
.project_container {
	width: 95%;
	margin: 0 auto;
}
#project {
	padding: 0 0 15vh 0;
	margin: 0 0 5vh 0;
	border-bottom: 1px solid #ccc;
}
.project_container img{
	width: 100%;
	margin: 0 0 10vh 0;
}
.project_title {
	display: inline-block;
	vertical-align: top;
	width: 40%;
}
.project_description {
	display: inline-block;
	vertical-align: top;
	width: 40%;
	margin: 0 0 20vh 0;
}

/* Contact */
.contact_container {
	display: none;
	width: 95%;
	margin: 0 auto;
	padding: 10vh 0;
	border-top: 1px #ccc solid;
	border-bottom: 1px #ccc solid;
}
.contact_container a{
	display: block;
	text-decoration: none;
	color: #333;
}

/* Positioning */
.float_left{
	float: left;
}
.clear {
	clear: both;
}