/* THEME - Property */

/* 
CONTENTS 
	1. Typeography
	2. Positionings
	3. Header
	4. Content
	5. Sidebar
*/


body {
	margin: 0;
	padding: 0;
}

/* 1. Typeography */
p, h1, h2, h3, h4, h5, h6{
	margin: 0;
	padding: 0;
}

/* 2. Positionings */
.clear {
	clear: both;
}

/* 3. Header */
#masthead {
	position: relative;
	top: 0;
	width: 100%;
	background-color: #f4f4f4;
	height: 100px;
	z-index: 900;
}

.branding_naviation_container {
	width: 80%;
	margin: 0 auto;
	height: 50px;
	padding: 25px 0;
}

.branding_container {
	display: inline-block;
	width: 15%;
}

.navigation_container {
	display: inline-block;
	width: 84%;
}

#navigation ul{
	list-style: none;
}

#navigation li{
	display: inline-block;
	padding: 0 10px;
}

/* 4. Conternt */
#content {
	position: relative;
	top: 50px;
	width: 70%;
	margin: 0 auto;
	background-color: #f4f4f4;
	padding: 10px;
}

/* 5. Sidebar */
#sidebar {
	top: 100px;
	width: 18%;
	position: fixed;
	left: -18%;
	height: 100%;
	background-color: #f4f4f4;
	z-index: 800;
}